@font-face{
    font-family: 'vazirFD';
    src: local('Vazir-FD'),
        url('../font/Farsi-Digits/Vazir-FD.woff') format('woff'),
        url('../font/Farsi-Digits/Vazir-FD.woff2') format('woff2'),
        url('../font/Farsi-Digits/Vazir-FD.ttf') format('truetype');
}


*{
    margin: 0px;
    padding: 0px; 
    text-decoration: none;
    list-style: none;
}

body{
    // font-family: 'vazirFD';
    font-size: 14px;
    color: #303030;
}

.holder{
    padding: 20px 100px;
}


#header{
    h1{
        text-align: center;
        font-size: 2.5rem;
    }
}

#formHolder{
    border: 1px solid #303030;
    padding: 30px;
    margin: 20px;

    input[type=number]{
        font-size: 0.85rem; 
    }
    button{
        font-size: 0.85rem; 
        width: 150px;
        margin: auto;
    }
    span{
        font-size: 0.85rem;
    }
    .error{
        color: red;
        display: block;
    }
    .form-control:focus{
        box-shadow: 0 0 0 0.5rem rgba(51, 59, 66, 0);
    }
}

#countersHolder{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .counter{
        border: 1px solid #303030;
        width: 200px;
        height: 250px;
        border-radius: 5px;
        margin: 10px;

        .counterHeader{
            border-bottom: 1px solid #303030;
            padding: 10px;
            font-size: 0.85rem;
            font-weight: bold;
        }

        .counterBody{
            text-align: center; 
            h3{
                display: block;
                height: 80%;
                font-size: 6rem;
                margin-bottom: 20px;
            }
            button.runBtn{
                font-size: 0.85rem; 
                width: 150px;
            }
        }
    }
}

#main{
    
    .btn-primary:focus{
        box-shadow: 0 0 0 0.2rem transparent; 
    }
    .btn:focus {
        box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
    }
}

@media screen and (max-width: 768px) {
    .holder{
        padding: 20px 30px;
    }
}

@media screen and (max-width: 425px) {
    #formHolder{
        div{
            padding-left: 0;
            padding-right: 0;
        }
        span{
            margin: 0px;
        }
    }
}